@import url("https://fonts.googleapis.com/css?family=Open+Sans|Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

body,
html {
  background-image: url("./img/drummer-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  color: bisque;
  font-size: 85px;
  padding-top: 75px;
  padding-bottom: 25px;
  border: solid black 2px;
  letter-spacing: 0.4rem;
}

.text {
  color: rgb(250, 239, 225);
  font-size: 35px;
  display: flex;
  mix-blend-mode: lighten;
  flex-direction: column;
  align-items: center;
  margin: 75px;
}

.keys {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10.5rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* @media (max-width: 1000px) {
  .keys {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */